@model  List<PomodoroOrders.Models.Carrito>
@using PomodoroOrders.Helpers
 <p>Contenido de tu orden</p>
    <br/>
    @foreach (var c in Model)
    { 
        @Html.LabelStrongExtended(c.IdPlatillo.ToString())
    }

    <div>
        <input type="submit" value="Generar  Orden" />
    </div>

