@model List<PomodoroOrders.Models.Orden>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Ordenes Activas</td>
            <td>Carrito</td>
        </tr>
    </thead>
         @foreach (var o in Model)
        {
             <tr>
             <td>@o.IdOrden</td><td>@o.IdCarrito</td>
              </tr>


        }

   
</table>
