@model List<PomodoroOrders.Models.DetalleOrden>
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<h2>Pomodoro Express</h2>
@using (Html.BeginForm("RecibirOrden", "Pomodoro", FormMethod.Post, new { id="frmOrden"}))
{
    @Html.ValidationSummary(true)

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Ordenes Activas</td>
            <td>Carrito</td>
        </tr>
    </thead>
         @foreach (var o in Model)
        {
             <tr>
             <td>@o.IdOrden</td><td>@o.IdCarrito</td>
              </tr>


        }

   
</table>

  }